.*
*~
!.gitignore
!.appveyor.cmd
!.appveyor.yml
!.perltidyrc
!.travis.yml
/blib
/pm_to_blib
/Makefile
/Makefile.old
/MANIFEST*
!MANIFEST.SKIP
/META.*
/MYMETA.*

# Ignore Intellij Perl5 plugin - de-parsed system subs used for resolution...
_Deparsed_XSubs.pm
# and the rest of Intellij chatter...
.idea/
*.iml
